input {
	width: 100%;
  }

  input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
  }  

  input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
  }  

  input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
  }  

  input[type=text]:focus {
	background-color: lightblue;
  }

  input[type=submit] {
	background-color:burlywood; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

  input[type=submit]:hover {
	background-color: green; /* Green */
	color: white;
  }